/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
} */

.addIncomeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.incomeInput {
  width: auto;
  flex-grow: 1;
}
